<style>

</style>

	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header responsive-logo">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand"><i class="fa fa-rocket text-primary"></i> Architect</a>
			</div>
			<nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
			<ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
				<li class=""><a href="#focus">Portfolio</a></li>
				<li class=""><a href="#aboutus">About Us</a></li>
				<li class=""><a href="#pricingtable">Pricing</a></li>
				<li class=""><a href="#features">Team</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			</nav>
		</div>
	</div>

<script>
	({
		name: 'Paypal Button',
	 	nodes: '*',
	 	frameworks: ['bootstrap'],
	 	class: 'navbar',
	 	types: ['flow'],
	 	validChildren: ['flow'],
	 	category: 'Shopping Cart',
	 	description: 'Navbars are responsive meta components that serve as navigation headers for your application or site.',
	 	hiddenClasses: ['navbar'],
	 	icon: 'menu',
	 	attributes: {
 			types: {
	 			list: [
	 				{ name: 'default', value: 'default' },
	 				{ name: 'fixed top', value: 'navbar-fixed-top' },
	 			],
 				value: 'default',
 				onAssign: function(livePreview) {
 					for (var i = this.list.length - 1; i >= 0; i--) {
 						if (livePreview.selected.node.className.indexOf(this.list[i].value) > -1) {
 							return this.value = this.list[i].value;
 						}
 					}
 				},
 				onChange: function(livePreview, type) {

                    //strip any previously assigned type classes from the icon
                    for (var i = this.list.length - 1; i >= 0; i--) {
                    	livePreview.selected.node.classList.remove(this.list[i].value);
                    };

                    livePreview.selected.node.classList.add(type);
                }
 			}
 		}
	})
</script>